.targetColor{
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


.scoreAndReset{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 50%; 
position: relative;
}

.score{
     font-size: 2rem; 
    color: white;
}
.title {
    font-size: 2rem; 
    color:darkblue;
}
.text{
    color:darkblue;
}

.reset{
     background-color: hsl(105, 22%, 96%); 
    border: none;
     border-radius: 0.5em; 
    color: darkblue;
    
    
}

@media (max-width: 600px) {
    .targetColor {
      width: 5rem;
      height: 5rem;
    }
  
    .buttonContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .scoreAndReset {
      flex-direction: column;
      position: relative;
    }


    .status-message {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
  }
